Repository MartinBruun/P6, pull requests merged in 2022-05, with the labels that each got.

#245 Set up flutter testing
  washee_app/lib/features/get_machines/presentation/widgets/machine_overview.dart
  washee_app/lib/features/get_machines/presentation/widgets/refresh_machines.dart
  washee_app/pubspec.lock
  washee_app/pubspec.yaml
  washee_app/test/features/authorization/domain/usecases/sign_in_test.dart
  washee_app/test/features/authorization/domain/usecases/sign_out_test.dart
  washee_app/test/features/booking/usecases/post_booking_test.dart
  washee_app/test/features/get_machines/get_machines_test.dart
  washee_app/test/features/washee_service/data/repositories/get_machines_repo_impl_test.dart
  washee_app/test/features/washee_service/domain/usecases/get_machines_usecase_test.dart
  washee_app/test/features/washee_service/domain/usecases/unlock_usecase_test.dart
  washee_app/test/features/washee_service/presentation/pages/wash_screen_test.dart
Labels: Ready for review

#251 (issues) Make Issues easier to create correctly
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/process-suggestion.md
  .github/ISSUE_TEMPLATE/project-writing.md
  .github/ISSUE_TEMPLATE/security-report.md
  .github/ISSUE_TEMPLATE/technical-improvement.md
  .github/workflows/labels-on-pr.yml
Labels: Ready for review, Fix

#239 (web) Create and test all permutations of the fixture creating the necessary models
  washee_web/account/tests/conftest.py
  washee_web/account/tests/models_account_tests.py
  washee_web/account/tests/models_user_tests.py
  washee_web/booking/tests/conftest.py
  washee_web/booking/tests/models_booking_tests.py
  washee_web/conftest.py
  washee_web/electricity/tests/conftest.py
  washee_web/electricity/tests/models_electricity_block_tests.py
  washee_web/location/tests/conftest.py
  washee_web/location/tests/models_location_tests.py
  washee_web/location/tests/models_service_tests.py
  washee_web/security/tests/conftest.py
  washee_web/security/tests/exception_handler_tests.py
  washee_web/test_conftest.py
  washee_web/washee_web/tests/conftest.py
Labels: Ready for review, Increment

#258 (web) Fix dependabot security issue
  washee_web/requirements.txt
Labels: Ready for review, Fix

#264 (web) Add Green Score
  washee_web/electricity/migrations/0002_electricityblock_green_score.py
  washee_web/electricity/models.py
  washee_web/electricity/serializers.py
Labels: Ready for review, Increment

#253 (web) Change booking naming so it is easier to see status on admin overview
  washee_web/booking/models.py
  washee_web/booking/tests/models_booking_tests.py
Labels: Ready for review, Fix

#275 Først mig!!! With colors 1 5 0
  .env.dev
  .github/workflows/labels-on-pr.yml
  washee_app/ios/Flutter/AppFrameworkInfo.plist
  washee_app/ios/Podfile
  washee_app/ios/Podfile.lock
  washee_app/ios/Runner.xcodeproj/project.pbxproj
  washee_app/lib/core/errors/exception_handler.dart
  washee_app/lib/core/helpers/box_communicator.dart
  washee_app/lib/core/helpers/date_helper.dart
  washee_app/lib/core/helpers/green_score_database.dart
  washee_app/lib/core/helpers/web_communicator.dart
  washee_app/lib/core/washee_box/machine_model.dart
  washee_app/lib/core/widgets/wash_timer_on_card.dart
  washee_app/lib/features/booking/data/datasources/book_remote.dart
  washee_app/lib/features/booking/data/models/booking_model.dart
  washee_app/lib/features/booking/data/repositories/book_repository_impl.dart
  washee_app/lib/features/booking/presentation/pages/calendar_screen.dart
  washee_app/lib/features/booking/presentation/provider/calendar_provider.dart
  washee_app/lib/features/booking/presentation/widgets/calendar_view.dart
  washee_app/lib/features/booking/presentation/widgets/choose_machine_view.dart
  washee_app/lib/features/booking/presentation/widgets/choose_time_view.dart
  washee_app/lib/features/booking/presentation/widgets/day_card.dart
  washee_app/lib/features/booking/presentation/widgets/list_of_bookings_view.dart
  washee_app/lib/features/booking/presentation/widgets/machine_type_button.dart
  washee_app/lib/features/booking/presentation/widgets/time_slot_item.dart
  washee_app/lib/features/booking/presentation/widgets/time_slots.dart
  washee_app/lib/features/unlock/domain/usecases/unlock.dart
  washee_app/lib/main.dart
  washee_app/pubspec.lock
  washee_app/test/core/washee_box/machine_model_test.dart
  washee_app/test/core/washee_box/washee_box_model_test.dart
  washee_app/test/features/booking/datasources/book_remote_test.dart
  washee_app/test/features/booking/repositories/book_repository_impl_test.dart
  washee_app/test/features/booking/usecases/post_booking_test.dart
  washee_app/test/features/washee_service/presentation/calendar_provider_test.dart
  washee_app/test/features/washee_service/presentation/pages/wash_screen_test.dart
  washee_web/account/fixtures/init_priorgade_accounts.json
  washee_web/booking/fixtures/init_priorgade_bookings.json
Labels: Ready for review, Increment

#276 Fix booking accumulation
  washee_app/lib/features/booking/presentation/provider/calendar_provider.dart
Labels: Ready for review, Bug, Fix

#312 Create WasheeUpaal.xml
  .github/workflows/labels-on-pr.yml
  diagrams/WasheeUpaal.xml
Labels: Ready for review
